body {
	margin: 10px;
	color: 3e3e3e;
}

img {
	margin-top: 20px;
}

.createFormContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.fields-container {
	margin: 5px 0;
}

#formsForm {
	margin: 0 auto;
}

.border {
	box-shadow: 0 0 0 1px rgba(63,63,68,0.1),0 1px 2px rgba(63,63,68,0.1);
	padding-top: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.spacing {
	margin: 10px 0;
}

#container {
	margin: 0 auto;
	width: 80%;
}

.no-bullets {
    list-style-type: none;
}

.fields-container {
	padding: 0; 
}

@media only screen and (max-width:767px) {

    form#form {
	    display: flex;
	    align-items: flex-start;
	    justify-content: center;
    }

    form#form button {
	    margin-left: 10px;
    }

    .fields-container {
    	width: 100%;
    }

    form#fieldForm {
    	display: flex;
	    align-items: flex-start;
	    justify-content: center;
    }

    form#fieldForm .form-group{
    	margin-right: 5px;
    }
}