<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">create form</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="createFormContainer row border col-lg-6">

	<form id="form" class="form-inline forms-form">
		<div class="form-group">
			<input type="text" class="form-control" id="formName" placeholder="Form Name" autofocus />
		</div>
		<button type="submit" id="saveForm" class="btn btn-primary">save</button>
	</form>

	<ul class="fields-container"></ul>
</div>
