<form id="fieldForm" class="form-inline" method="post" action="#">

  <div class="form-group">
    <input type="text" class="form-control" name="name" id="name" placeholder="field name" autofocus />
  </div>

  <div class="form-group">
    <select name="type" id="type" class="form-control">
      <option>Field type</option>
      <option>text</option>
      <option>number</option>
      <option>image</option>
    </select>
  </div>
<!--
  <div class="form-group">
    <input type="text" class="form-control" name="type" id="type" />
    <label for="validation">validation</label>
    <input type="text" class="form-control" name="validation" id="validation" />
  </div>
-->
  <button id="deleteField" style="display:none" class="btn btn-danger">-</button>
  <button type="submit" id="saveField" class="btn btn-success">+</button>

</form>